# Node.js Kütüphane Klasörü (EN ÖNEMLİSİ)
# Bu, 150MB+ olan binlerce küçük dosyayı yüklemeyi engeller
node_modules/
/node_modules

# Log dosyaları
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Build çıktıları
dist
.next/

# (Gelecekteki Sırlarımız için)
.env
.env.local