# Python Sanal Ortamı
venv/
/venv/
*.venv
.venv/

# Python Cache Dosyaları
__pycache__/
*.py[cod]

# IDE ve OS Dosyaları
.vscode/
.idea/
*.DS_Store
*.suo
*.user

# Docker Veri Klasörü (ÇOK ÖNEMLİ)
# Bu, veritabanımızın tamamını GitHub'a yüklememizi engeller
postgres-data/

# Eğitilmiş ML Model Dosyaları
*.joblib
*.pkl

# (Gelecekteki Sırlarımız için)
.env
